/* Untuk Tablet 768 px */

@media (min-width: 1186px) {
  .extra-main-content {
    padding-left: 15px;
    padding-right: 15px;
  }

  .card {
    width: 21%;
    margin-left:2%;
    margin-right:2%;
    height: 470px;
  }
}

@media (max-width: 1185px) {
  .extra-main {
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
  }

  .extra-main-content {
    padding-left: 30px;
    padding-right: 30px;
  }

  .card {
    margin-bottom:50px;
    margin-left:3vw;
    margin-right:3vw;
  }
}

@media (max-width: 1000px) {
    .header-right {
      display:none;
    }
  
    .header-kanan {
      display:block;
    }

    .top-wrapper h1 {
      font-size: 32px;
      
    }
    
    .promo-list h2 {
      font-size: 20px;
    }
    .heading h3 {
      font-size:16px;
    }
    .description p {
      font-size:12px;
    }

    .social-mediaa {
      display:block;

    }
    .social-mediaa a {
      display:block;
      font-size:20px;
      color:#f5f5f5;
    }
    .social-mediaa .fa {
      display:block;
    }
    .footer-left {
      
      width:100%;
    }
    .links {
      display:none;
    }
    .address {
      display:none;
    }
    .social-media {
      display:none;
    }
  }


  @media (max-width: 888px) {
    .card {
      font-size: smaller;
      height: 430px;
      margin-bottom:35px;
    }
  }



  /* Untuk Smartphone 425 px */
  @media (max-width: 670px) {    
    footer {
      text-align: center;
    }
   
    .top-wrapper {
      text-align: left;
    }
    
    .header-right {
      display:none;
    }
    
    .top-wrapper h1 {
      font-size: 22px;
      margin-bottom:5px;
    }
    
    .promo-list h2 {
      margin-top:5px;
      font-size: 14px;
      line-height: 20px;
    }
    .card {
      width:100%;      
    }
   
    .footer-left {
      
      width:100%;
      text-align:center;
    }
    .links {
      display:none;
    }
    .address {
      display:none;
    }
    .social-media {
      display:none;
    }
    .social-mediaa {
      display:block;
    }
    .social-mediaa .fa {
      display:block;
    }
    
    .subscription .btn {
      width:50%;
      margin-left:-1px;
      margin-top:3px;
      padding:0px 10px;
    }
    
    .main {
      background-size:cover;
    }
    .containerrr{
      
      margin-top:10px;
    }
    .heading h2 {
      font-size:20px;
    }
    .heading h3 {
      font-size:16px;
     
  }
  .features {
    display:flex;
    flex-direction:column;

  }
  .feature {
    padding-bottom:20px;
    width:100%;
   
  }
  .feature p {
    margin-top:5px;
    font-size:13px;
    line-height:15px;
  }
  }



  /*Untuk Smartphone 375px*/



  @media (max-width: 375px) {
    .heading h3 {
      font-size:13px;
    }
    .top-wrapper h1 {
      font-size: 18px;
    }

    .card {
      height: 445px;
      font-size: smaller;
    }

    .card a.btn-order {
      font-size: x-small;
    }
  }



  /*Untuk Smartphone 350px*/




  @media (max-width: 350px) {
    .card {
      height: 490px;
    }
    .top-wrapper h1 {
      font-size: 15px;
      
    }
    .heading h3 {
      font-size:13px;
    }
  }



  /*Untuk Smartphone 320px*/


  
  @media (max-width: 320px) {
    .heading h3 {
      font-size:11px;
    }
    .top-wrapper h1 {
      font-size: 15px;
      
    }
  }
